@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 250 250 252;
  --foreground: 17 24 39;
}

html, body {
  background: rgb(var(--background));
  color: rgb(var(--foreground));
}
